@inherits LayoutComponentBase
@using Blazor.Pages.Components
@inject NotificationService _notificationService
@inject GlobalNotificationService _globalNotificationService


<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <Login/>
            
        </div>

        <div class="content px-4">
            @Body
            <RadzenDialog/>
            <RadzenNotification />
        </div>
    </div>
</div>

@code{
	protected override async Task OnInitializedAsync()
	{
		_globalNotificationService.ListenToGlobalNotificationService(_notificationService);
	}

}