<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RegisterItem">
                <span class="oi oi-plus" aria-hidden="true"></span> Register Item
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CreateLocation">
                <span class="oi oi-plus" aria-hidden="true"></span> Register Location
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddItem">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Item to location
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RegisteredItems">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registered Items
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RegisteredLocations">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registered Locations
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Items">
                <span class="oi oi-list" aria-hidden="true"></span> Items
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Locations">
                <span class="oi oi-list" aria-hidden="true"></span> Locations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MoveItems">
                <span class="oi oi-minus" aria-hidden="true"></span> Move Items
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Orders">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Orders
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="itemTest">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Item Test
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}