@page "/Trashed"
@using Entities.Models
@using Blazor.Pages.Cards
@using Blazor.Data
@attribute [Authorize(Policy = "SecurityLevel2")]
@inject IInventoryHandler _inventoryHandler
@inject DialogService DialogService

<h3>Trashed</h3>

@if (_inventories == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!_inventories.Any())
{
    <p>
        <em>No registered locations exist. Please add some.</em>
    </p>
}
else
{
    <RadzenDataGrid Data="@_inventories" TItem="Inventory" AllowFiltering="true" FilterMode="FilterMode.Simple"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowSorting="true" PageSize="15" AllowPaging="true" AllowColumnResize="true"
                    ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat">
        <Columns>
            <RadzenDataGridColumn TItem="Inventory" Context="data" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="60px">
                <Template Context="data">
                    <RadzenButton Icon="info" Size="ButtonSize.Small" Class="formButton m-1"
                                  Click="@(() => OpenLocationWithItems(data))" @onclick:stopPropagation="true"/>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Inventory" Property="Item.Id" Title="Item ID" SortOrder="SortOrder.Ascending"/>
            <RadzenDataGridColumn TItem="Inventory" Property="Item.ItemName" Title="Item Name"/>
            <RadzenDataGridColumn TItem="Inventory" Property="Amount" Title="Amount trashed"/>
        </Columns>
    </RadzenDataGrid>
}