@page "/"

<h1>Sep3 - Warehouse</h1>

<p>Welcome to your new Warehouse.</p>

<img src="https://scontent.faar1-1.fna.fbcdn.net/v/t1.15752-9/262553475_4952918561397534_5419010771242663530_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=kp9s4QbYHh0AX9TSIMj&_nc_ht=scontent.faar1-1.fna&oh=fc12fd3f2f04e03c8226c6a523063b00&oe=61D014AC" alt="hehe" class="img-fluid rounded img-thumbnail"/>
