@page "/"

<h1>Sep3 - Warehouse</h1>

<p>Welcome to your new Warehouse.</p>

<img src="https://scontent.faar2-1.fna.fbcdn.net/v/t1.15752-9/263228236_335750977885692_7594440660788976889_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=ae9488&_nc_ohc=SuGC4G3lhekAX_D1bUs&_nc_ht=scontent.faar2-1.fna&oh=d0a73028e18a54bd15dd2dfe42ff30a3&oe=61CDD212" alt="hehe" class="img-fluid rounded img-thumbnail"/>
