@page "/"

<h1>Sep3 - Warehouse</h1>

Welcome to your new Warehouse.

<img src="https://www.albawaba.com/sites/default/files/styles/d08_standard/public/im/pr_new/Momo_Challenge.jpg?itok=ax6Lubn6" alt="hehe" class="img-fluid rounded img-thumbnail"/>
