@page "/"

<h1>Sep3 - Warehouse</h1>

<p>Welcome to your new Warehouse.</p>

<img src="https://scontent.faar1-1.fna.fbcdn.net/v/t1.15752-9/260725600_4660304567368955_1929345294357998391_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=uuj3T0NhAz8AX88nqTV&_nc_ht=scontent.faar1-1.fna&oh=9b823cfe2d009b0cfa0909debe78e8f8&oe=61CF97C4" alt="hehe" class="img-fluid rounded img-thumbnail"/>
