@page "/Items"
@using Blazor.Data
@using Entities.Models

@inject IItemHandler _itemsHandler
@inject DialogService DialogService

<h3>Items</h3>
<h3>Den kan ikke vise locations for en item endnu - help</h3>

<RadzenDataGrid Data="@_registeredItems" TItem="Item" AllowFiltering="true" FilterMode="FilterMode.Simple"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                AllowSorting="true" PageSize="15" AllowPaging="true" AllowColumnResize="true">
    <Columns>
        <RadzenDataGridColumn TItem="Item" Property="Id" Title="Item ID">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="info" Class="formButton" Click=@(() => OpenOrder(data.Id)) Text="@data.Id.ToString()"/>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Item" Property="ItemName" Title="Item Name"/>
    </Columns>
</RadzenDataGrid>


@code {
    //Todo: Skal laves færdig, der skal vel noget itemlocation med
    
    
    private IList<Item> _registeredItems;

    protected override async Task OnInitializedAsync()
    {
        _registeredItems = await _itemsHandler.GetAllAsync();
    }

    async Task OpenOrder(int orderId)
    {
    /*await DialogService.OpenAsync<DialogCardPage>($"Order {orderId}",
            new Dictionary<string, object>() { { "OrderID", orderId } },
            new DialogOptions() { Width = "700px", Height = "530px" });*/
    }

}