@page "/itemTest"
@attribute [Authorize(Policy = "SecurityLevel1")]
@using Blazor.Data
@using Blazor.Pages.Components


@inject IItemHandler _itemHandler;

<div>
	<h2 class="border-bottom border-dark text-center">Item Test</h2>
</div>

<div class="border border-dark p-2 m-2">
	<GetItem />
</div>

<div class="border border-dark p-2 m-2">
	<RegisterItem />
</div>

<div class="border border-dark p-2 m-2">
	<h4>Update Item</h4>
</div>

<div class="border border-dark p-2 m-2">
	<h4>Remove Item</h4>
</div>

@code {

}
