@page "/RegisteredLocations"
@using Blazor.Data
@using Entities.Models

@inject ILocationHandler _locationsHandler
@inject NavigationManager _navigationManager

<h3>RegisteredLocations</h3>

@if (_locations == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!_locations.Any())
{
    <p>
        <em>No locations exist. Please add some.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id:</th>
            <th>Description:</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var location in _locations)
        {
            <tr>
                <td>@location.Id</td>
                <td>@location.Description</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    //TODO: Jeg mangler i astah

    private IList<Location> _locations;

    protected override async Task OnInitializedAsync()
    {
    //  _locations = await _locationsHandler.GetLocations();
    }

}