@page "/RegisterItem"
@using Blazor.Data
@using Entities.Models

@inject IItemHandler _itemsHandler
@inject NavigationManager _navigationManager

<h3>Register a new Item</h3>

<EditForm Model="@_item" OnValidSubmit="@AddNewItem">
    <DataAnnotationsValidator/> <ValidationSummary/>
    <div class="form-group"> Item Name:<br/> <InputText @bind-Value="_item.ItemName"/> </div>
    <div class="form-group"> Height:<br/> <InputNumber @bind-Value="_item.Height"/> </div>
    <div class="form-group"> Length:<br/> <InputNumber @bind-Value="_item.Length"/> </div>
    <div class="form-group"> Width:<br/> <InputNumber @bind-Value="_item.Width"/> </div>
    <div class="form-group"> Weight:<br/> <InputNumber @bind-Value="_item.Weight"/> </div>

    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Add</button>
    </p>
</EditForm>

@code {
    //TODO: Jeg mangler i astah ;( - Og lav mig

    private Item _item;

    protected override async Task OnInitializedAsync()
    {
    //Todo: Missing awaits=?
        _item = new();
    }

    private void AddNewItem()
    {
        _itemsHandler.RegisterItem(_item);
    //Navigate to specific Item created instead?
        _navigationManager.NavigateTo("/Items");
    }

}