@page "/Spikes"
@using SEP3_WebServerClient.Models
@using Blazor.Data

@inject ISpikeHandler _spikeHandler
@inject NavigationManager _navigationManager

<h3>Spike List</h3>

@if (_spikes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!_spikes.Any())
{
    <p>
        <em>No Spike items exist. Please add some.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Spike</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in _spikes)
        {
            <tr>
                <td>@item.SpikeName</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IList<Spike> _spikes;

    protected override async Task OnInitializedAsync()
    {
        _spikes = await _spikeHandler.GetSpikes();
    }
}