@page "/AddWarehouseItem"
@using Entities.Models
@using SEP3_WebServerClient.Data

@inject IWarehouseItemHandler _warehouseItemHandler
@inject NavigationManager _navigationManager

<h4>
    <i>You are now adding a new AddWarehouseItem</i>
</h4>

<EditForm Model="@_item" OnValidSubmit="@AddNewWarehouseItem">
    <DataAnnotationsValidator/> <ValidationSummary/>
    <div class="form-group"> Item Name:<br/> <InputText @bind-Value="_item.ItemName"/> </div>
    <div class="form-group"> Id:<br/> <InputNumber @bind-Value="_item.Id"/> </div>
    <div class="form-group"> Height:<br/> <InputNumber @bind-Value="_item.Height"/> </div>
    <div class="form-group"> Length:<br/> <InputNumber @bind-Value="_item.Length"/> </div>
    <div class="form-group"> Width:<br/> <InputNumber @bind-Value="_item.Width"/> </div>
    <div class="form-group"> Weight:<br/> <InputNumber @bind-Value="_item.Weight"/> </div>

    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Add</button>
    </p>
</EditForm>


@code {
    //TODO: Jeg mangler i astah ;( - Og lav mig

    private Item _item;

    protected override async Task OnInitializedAsync()
    {
        //Todo: Missing awaits=?
        _item = new();
    }

    private void AddNewWarehouseItem()
    {
        _warehouseItemHandler.NewWarehouseItem(_item);
        //Navigate to specific Spike created instead?
        _navigationManager.NavigateTo("/WarehouseItems");
    }

}