@page "/ItemsCard/{itemLocation}"
@attribute [Authorize(Policy = "SecurityLevel1")]
@using Blazor.Data
@using Entities.Models

@inject DialogService DialogService
@inject IInventoryHandler _inventoryHandler


@if (_itemLocations == null)
{
    <p>Loading...........</p>
}
else if (!_itemLocations.Any())
{
    <p>No Locations ;(</p>
}
else
{
    <RadzenCard Style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-12">
                <h3>Item Details</h3>
                <RadzenDataGrid AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true" 
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data="@_itemLocations" TItem="Inventory" ColumnWidth="200px">
                    <Columns>
                        <RadzenDataGridColumn TItem="Inventory" Property="Item.ItemName" Title="Item Name"/>
                        <RadzenDataGridColumn TItem="Inventory" Property="Amount" Title="Amount"/>
                        <RadzenDataGridColumn TItem="Inventory" Property="Item.Length" Title="Length"/>
                        <RadzenDataGridColumn TItem="Inventory" Property="Item.Width" Title="Width"/>
                        <RadzenDataGridColumn TItem="Inventory" Property="Item.Height" Title="Height"/>
                        <RadzenDataGridColumn TItem="Inventory" Property="Item.Weight" Title="Weight"/>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </RadzenCard>
}