@page "/LocationsCard/{itemLocation}"
@attribute [Authorize(Policy = "SecurityLevel1")]
@using Blazor.Data
@using Entities.Models

@inject DialogService DialogService
@inject IItemLocationHandler _itemLocationHandler

@if (_itemLocations == null)
{
    <p>Loading...........</p>
}
else if (!_itemLocations.Any())
{
    <p>No Locations ;(</p>
}
else
{
    <RadzenCard Style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-12">
                <h3>Location Details</h3>
                <RadzenDataGrid AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true" 
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data="@_itemLocations" TItem="ItemLocation" ColumnWidth="200px">
                    <Columns>
                        <RadzenDataGridColumn TItem="ItemLocation" Property="Location.Description" Title="Location"/>
                        <RadzenDataGridColumn TItem="ItemLocation" Property="Amount" Title="Amount"/>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </RadzenCard>
}