@page "/CreateLocation"
@attribute [Authorize(Policy = "SecurityLevel2")]

@using Blazor.Data
@using Entities.Models

@inject ILocationHandler _locationHandler
@inject NavigationManager _navigationManager

<h2>Register a new Location</h2>

<RadzenTemplateForm class="RegisterForm" TItem="Location" Data="@_location" Submit="@RegisterNewLocation">
    <div class="row">
        <div class="col-md-5">
            <RadzenFieldset Text="Location Information">
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Location"/>
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 80%;" Name="Description" @bind-Value="_location.Description"/>
                        <RadzenRequiredValidator Component="Description" Text="Description is required" Style="position: relative" />
                    </div>
                </div>

                <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                    <RadzenButton class="formButton" ButtonType="ButtonType.Submit" Icon="save" Text="Save"/>
                </div>
            </RadzenFieldset>
        </div>
    </div>
</RadzenTemplateForm>