@page "/Items"
@attribute [Authorize(Policy = "SecurityLevel1")]
@using Blazor.Data
@using Entities.Models
@inject IInventoryHandler _inventoryHandler
@inject IItemHandler _ItemHandler;
@inject DialogService DialogService

<h2>Items</h2>

@if (_items == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!_items.Any())
{
    <p>
        <em>No registered locations exist. Please add some.</em>
    </p>
}
else
{
    <RadzenDataGrid Data="@_items" TItem="Item" AllowFiltering="true" FilterMode="FilterMode.Simple"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowSorting="true" PageSize="15" AllowPaging="true" AllowColumnResize="true"
                    ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat">
        <Columns>
            <RadzenDataGridColumn TItem="Item" Context="data" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="60px">
                <Template Context="data">
                    <RadzenButton Icon="info" Size="ButtonSize.Small" Class="formButton m-1"
                                  Click="@(() => OpenLocationWithItems(data))" @onclick:stopPropagation="true"/>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Item" Property="Id" Title="Item ID" SortOrder="SortOrder.Ascending"/>
            <RadzenDataGridColumn TItem="Item" Property="ItemName" Title="Item Name"/>
        </Columns>
    </RadzenDataGrid>
}