@page "/RegisteredItems"
@using Blazor.Data
@using Entities.Models
@using System.Threading

@inject IItemHandler _itemsHandler

<h2>Registered Items</h2>

@if (_registeredItems == null)
{
    Console.WriteLine(Thread.CurrentThread.ManagedThreadId + " - null");
    
    <p>
        <em>Loading...</em>
    </p>
}
else if (!_registeredItems.Any())
{
    Console.WriteLine(Thread.CurrentThread.ManagedThreadId + " - !Any");

    <p>
        <em>No registered items exist. Please add some.</em>
    </p>
}
else
{
    Console.WriteLine(Thread.CurrentThread.ManagedThreadId + " - Else");

    <RadzenDataGrid Data="@_registeredItems" TItem="Item" AllowFiltering="true" FilterMode="FilterMode.Simple"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowSorting="true" PageSize="15" AllowPaging="true" AllowColumnResize="true" 
                    ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat">
        <Columns>
            <RadzenDataGridColumn TItem="Item" Property="Id" Title="Item ID" SortOrder="SortOrder.Ascending"/>
            <RadzenDataGridColumn TItem="Item" Property="ItemName" Title="Item Name"/>
            <RadzenDataGridColumn TItem="Item" Property="Length" Title="Length"/>
            <RadzenDataGridColumn TItem="Item" Property="Width" Title="Width"/>
            <RadzenDataGridColumn TItem="Item" Property="Height" Title="Height"/>
            <RadzenDataGridColumn TItem="Item" Property="Weight" Title="Weight"/>
        </Columns>
    </RadzenDataGrid>
}