@page "/RegisteredLocations"
@using Blazor.Data
@using Entities.Models

@inject ILocationHandler _locationsHandler
@inject NavigationManager _navigationManager

<h2>Registered Locations</h2>

@if (_locations == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!_locations.Any())
{
    <p>
        <em>No registered locations exist. Please add some.</em>
    </p>
}
else
{
    <RadzenDataGrid Data="@_locations" TItem="Location" AllowFiltering="true" FilterMode="FilterMode.Simple"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowSorting="true" PageSize="15" AllowPaging="true" AllowColumnResize="true">
        <Columns>
            <RadzenDataGridColumn TItem="Location" Property="Id" Title="Location ID"/>
            <RadzenDataGridColumn TItem="Location" Property="Description" Title="Description"/>
        </Columns>
    </RadzenDataGrid>
}

@code {

    private IList<Location> _locations;

    protected override async Task OnInitializedAsync()
    {
        _locations = await _locationsHandler.GetAllAsync();
    }

}