@page "/AddSpike"
@using SEP3_WebServerClient.Data
@using SEP3_WebServerClient.Models

@inject ISpikeHandler _spikeHandler
@inject NavigationManager _navigationManager

<h4>
    <i>You are now adding a new Spike</i>
</h4>

<EditForm Model="@_newSpike" OnValidSubmit="@AddNewSpike">
    <DataAnnotationsValidator/> <ValidationSummary/>
    <div class="form-group"> Spike:<br/> <InputText @bind-Value="_newSpike.SpikeName"/> </div>

    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Add</button>
    </p>
</EditForm>

@code {
    private Spike _newSpike;

    protected override async Task OnInitializedAsync()
    {
        _newSpike = new();
    }

    private void AddNewSpike()
    {
        _spikeHandler.NewSpike(_newSpike);
        _navigationManager.NavigateTo("/Spikes");
    }

}